<div class="col-md-12">
  <ba-card title="Neue Analyse" baCardClass="with-scroll">
    <form [formGroup]="analysisForm" (submit)="saveAnalysis($event)">
      <div class=" form-group row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name" class="col-sm-2 form-control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-sm-2 form-control-label">Frequenz</label>
            <div class="col-sm-10">
              <input type="number" formControlName="description" max="60" min="0" class="form-control" id="description"
                     placeholder="minutes">
            </div>
          </div>
          <div class="form-group">
            <label for="datasrouce" class="col-sm-2 form-control-label">Datenquelle</label>
            <div class="col-sm-10">
              <select class="form-control" id="datasrouce" formControlName="datasource">
                <option>CDRS</option>
                <option>Statistikdaten</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <button type="button" (click)="addVector()" class="btn btn-default">add Vector</button>
          <br>
          <br>
          <div class="col-md-11">

            <ngx-datatable
              class="material"
              [rows]='rows'
              [rowHeight]="'auto'"
              [columnMode]="'force'"
              [headerHeight]="30">
              <ngx-datatable-column name="">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <i class="ion-close" (click)="removeVector(row)">
                  </i>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="index">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  {{ row.$$index + 1 }}
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-column name="timesliceStart">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
               <span
                 title="Double click to edit"
                 (dblclick)="editing[row.$$index + '-timesliceStart'] = true"
                 *ngIf="!editing[row.$$index + '-timesliceStart']">
              {{value}}
            </span>
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input
                    autofocus
                    (blur)="updateValue($event, 'timesliceStart', value, row)"
                    *ngIf="editing[row.$$index + '-timesliceStart']"
                    type="text"
                    [value]="value"
                  />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="timesliceEnd" width="200">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                 <span
                   title="Double click to edit"
                   (dblclick)="editing[row.$$index + '-timesliceEnd'] = true"
                   *ngIf="!editing[row.$$index + '-timesliceEnd']">
              {{value}}
            </span>
                  <!--suppress HtmlFormInputWithoutLabel -->
                  <input
                    autofocus
                    (blur)="updateValue($event, 'timesliceEnd', value, row)"
                    *ngIf="editing[row.$$index + '-timesliceEnd']"
                    type="text"
                    [value]="value"
                  />
                </ng-template>

              </ngx-datatable-column>


            </ngx-datatable>
          </div>

        </div>


      </div>

      <hr>
      <div class="row">

        <div class="col-md-6">
          <custom-dual-list [format]="format" [key]="dualistKey" [display]="dualistDisplay" [source]="dualistSource"
                            [(destination)]="dualistConfirmed"></custom-dual-list>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="comment">Filter:</label>
            <textarea class="form-control" rows="5" id="filter" title=""></textarea>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <hr>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </ba-card>
</div>
